
/* Styles */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


#statsform, #mailform {
    margin-top: 20px;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 20px auto 0;
    padding: 15px;
}

#statsform ul li {
    list-style: none;
    margin-bottom: 10px;
}

#statsform ul li input{
    width: 60px;
    float: left;

}

#statsform ul li label {
    margin: 0 10px 0 0;
    height: 38px;
    line-height: 38px;
    float: left;
    width: 70px;
    text-align: left;
}

#mailform {
    display: none;
}

.btn-reset {
    margin-right: 15px;
}

canvas{
        width: 100% !important;
        max-width: 550px;
        height: auto !important;
    }
